In [1]:
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt

# Stat models
from statsmodels.tsa.vector_ar.var_model import VAR

# Functions
sys.path.append(os.path.abspath('functions'))
from preprocessing import read_csv_files, check_missing_values, forward_fill, backward_fill, linear_interpolation, calculate_volatility, adf_test, check_date_range, extract_date_range, map_date_range, create_volatility_df

## Data Preprocessing

In [2]:
# Retrieve a list of DataFrames
dataframes = read_csv_files("data")

In [3]:
# Convert each column in every DataFrame to lowercase
for key in dataframes:
    dataframes[key].columns = map(str.lower, dataframes[key].columns)

Converting the `date` column to datetime object, this process has to be handled individually since each DataFrame has a different date format. We cannot let Pandas infers the date format for each DataFrame since it can be prone to infer the wrong format. Below are the format of each DataFrame:
- Philippines: MM/DD/YYYY
- Singapore: MM/DD/YYYY
- India: YYYY-MM-DD
- United Kingdom: DD/MM/YYYY
- Mexico: YYYY-MM-DD
- Japan: YYYY-MM-DD
- Vietnam: DD/MM/YYYY
- Korea: YYYY-MM-DD
- Thailand: YYYY-MM-DD
- Brazil: YYYY-MM-DD
- Malaysia: DD/MM/YYYY
- Switzerland: YYYY-MM-DD
- China: DD/MM/YYYY
- Russia: YYYY-MM-DD
- United States: YYYY-MM-DD

In [4]:
date_format_mapping = {
  'philippines': '%m/%d/%Y',
  'singapore': '%m/%d/%Y',
  'india': '%Y-%m-%d',
  'uk': '%d/%m/%Y',
  'mexico': '%Y-%m-%d',
  'japan': '%Y-%m-%d',
  'vietnam': '%d/%m/%Y',
  'korea': '%Y-%m-%d',
  'thailand': '%Y-%m-%d',
  'brazil': '%Y-%m-%d',
  'malaysia': '%d/%m/%Y',
  'switzerland': '%Y-%m-%d',
  'china': '%d/%m/%Y',
  'russia': '%Y-%m-%d',
  'us': '%Y-%m-%d',
}

# Convert the date columns to datetime objects
for key in dataframes:
    try:
      dataframes[key]['date'] = pd.to_datetime(
        dataframes[key]['date'], 
        format=date_format_mapping[key]
      )
    except Exception as e:
      print(f"Error occurred for country: {key}")
      print(f"Error message: {str(e)}")

In [5]:
# Sort the dataframes by date in ascending order
for key in dataframes:
    dataframes[key] = dataframes[key].sort_values(by='date')

In [6]:
# Reset the index of the dataframes
for key in dataframes:
    dataframes[key] = dataframes[key].reset_index(drop=True)

In [7]:
# Extract only open, high, low, close columns
for key in dataframes:
    dataframes[key] = dataframes[key][['date', 'open', 'high', 'low', 'close']]

In [8]:
for df in dataframes.values():
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3055 entries, 0 to 3054
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3055 non-null   datetime64[ns]
 1   open    3055 non-null   object
 2   high    3055 non-null   object
 3   low     3055 non-null   object
 4   close   3055 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 119.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3181 entries, 0 to 3180
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3181 non-null   datetime64[ns]
 1   open    3181 non-null   object
 2   high    3181 non-null   object
 3   low     3181 non-null   object
 4   close   3181 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 124.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4101 entries, 0 to 4100
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4101 non-null   datetime64[ns]
 1   open    4062 non-null   float64
 2   high    4062 non-null   float64
 3   low     4062 non-null   float64
 4   close   4062 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 160.3 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5597 entries, 0 to 5596
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5597 non-null   datetime64[ns]
 1   open    5597 non-null   object
 2   high    5597 non-null   object
 3   low     5597 non-null   object
 4   close   5597 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 218.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5656 entries, 0 to 5655
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5656 non-null   datetime64[ns]
 1   open    5607 non-null   float64
 2   high    5607 non-null   float64
 3   low     5607 non-null   float64
 4   close   5607 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 221.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5559 entries, 0 to 5558
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5559 non-null   datetime64[ns]
 1   open    5466 non-null   float64
 2   high    5466 non-null   float64
 3   low     5466 non-null   float64
 4   close   5466 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 217.3 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3821 entries, 0 to 3820
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3821 non-null   datetime64[ns]
 1   open    3821 non-null   object
 2   high    3821 non-null   object
 3   low     3821 non-null   object
 4   close   3821 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 149.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5578 entries, 0 to 5577
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5578 non-null   datetime64[ns]
 1   open    5512 non-null   float64
 2   high    5512 non-null   float64
 3   low     5512 non-null   float64
 4   close   5512 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 218.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5515 entries, 0 to 5514
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5515 non-null   datetime64[ns]
 1   open    5442 non-null   float64
 2   high    5442 non-null   float64
 3   low     5442 non-null   float64
 4   close   5442 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 215.6 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3522 non-null   datetime64[ns]
 1   open    3060 non-null   float64
 2   high    3060 non-null   float64
 3   low     3060 non-null   float64
 4   close   3060 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 137.7 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3436 entries, 0 to 3435
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3436 non-null   datetime64[ns]
 1   open    3436 non-null   object
 2   high    3436 non-null   object
 3   low     3436 non-null   object
 4   close   3436 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 134.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5662 entries, 0 to 5661
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5662 non-null   datetime64[ns]
 1   open    5610 non-null   float64
 2   high    5610 non-null   float64
 3   low     5610 non-null   float64
 4   close   5610 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 221.3 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4697 entries, 0 to 4696
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4697 non-null   datetime64[ns]
 1   open    4697 non-null   object
 2   high    4697 non-null   object
 3   low     4697 non-null   object
 4   close   4697 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 183.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2788 entries, 0 to 2787
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2788 non-null   datetime64[ns]
 1   open    2749 non-null   float64
 2   high    2749 non-null   float64
 3   low     2749 non-null   float64
 4   close   2749 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 109.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5620 entries, 0 to 5619
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5620 non-null   datetime64[ns]
 1   open    5620 non-null   float64
 2   high    5620 non-null   float64
 3   low     5620 non-null   float64
 4   close   5620 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 219.7 KB
None

Since the columns open, high, low, close have different dtypes (`float64` and `object`) for different DataFrame, they should be converted to `float64`.

In [9]:
# Convert open, high, low, close columns to float
for key in dataframes:
  for col in ['open', 'high', 'low', 'close']:
    if dataframes[key][col].dtype == 'object':
      dataframes[key][col] = dataframes[key][col].str.replace(',', '').astype(float)

In [10]:
# Check whether the columns have been converted to float
for df in dataframes.values():
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3055 entries, 0 to 3054
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3055 non-null   datetime64[ns]
 1   open    3055 non-null   float64
 2   high    3055 non-null   float64
 3   low     3055 non-null   float64
 4   close   3055 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 119.5 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3181 entries, 0 to 3180
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3181 non-null   datetime64[ns]
 1   open    3181 non-null   float64
 2   high    3181 non-null   float64
 3   low     3181 non-null   float64
 4   close   3181 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 124.4 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4101 entries, 0 to 4100
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4101 non-null   datetime64[ns]
 1   open    4062 non-null   float64
 2   high    4062 non-null   float64
 3   low     4062 non-null   float64
 4   close   4062 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 160.3 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5597 entries, 0 to 5596
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5597 non-null   datetime64[ns]
 1   open    5597 non-null   float64
 2   high    5597 non-null   float64
 3   low     5597 non-null   float64
 4   close   5597 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 218.8 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5656 entries, 0 to 5655
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5656 non-null   datetime64[ns]
 1   open    5607 non-null   float64
 2   high    5607 non-null   float64
 3   low     5607 non-null   float64
 4   close   5607 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 221.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5559 entries, 0 to 5558
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5559 non-null   datetime64[ns]
 1   open    5466 non-null   float64
 2   high    5466 non-null   float64
 3   low     5466 non-null   float64
 4   close   5466 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 217.3 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3821 entries, 0 to 3820
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3821 non-null   datetime64[ns]
 1   open    3821 non-null   float64
 2   high    3821 non-null   float64
 3   low     3821 non-null   float64
 4   close   3821 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 149.4 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5578 entries, 0 to 5577
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5578 non-null   datetime64[ns]
 1   open    5512 non-null   float64
 2   high    5512 non-null   float64
 3   low     5512 non-null   float64
 4   close   5512 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 218.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5515 entries, 0 to 5514
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5515 non-null   datetime64[ns]
 1   open    5442 non-null   float64
 2   high    5442 non-null   float64
 3   low     5442 non-null   float64
 4   close   5442 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 215.6 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3522 non-null   datetime64[ns]
 1   open    3060 non-null   float64
 2   high    3060 non-null   float64
 3   low     3060 non-null   float64
 4   close   3060 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 137.7 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3436 entries, 0 to 3435
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3436 non-null   datetime64[ns]
 1   open    3436 non-null   float64
 2   high    3436 non-null   float64
 3   low     3436 non-null   float64
 4   close   3436 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 134.3 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5662 entries, 0 to 5661
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5662 non-null   datetime64[ns]
 1   open    5610 non-null   float64
 2   high    5610 non-null   float64
 3   low     5610 non-null   float64
 4   close   5610 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 221.3 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4697 entries, 0 to 4696
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4697 non-null   datetime64[ns]
 1   open    4697 non-null   float64
 2   high    4697 non-null   float64
 3   low     4697 non-null   float64
 4   close   4697 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 183.6 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2788 entries, 0 to 2787
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2788 non-null   datetime64[ns]
 1   open    2749 non-null   float64
 2   high    2749 non-null   float64
 3   low     2749 non-null   float64
 4   close   2749 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 109.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5620 entries, 0 to 5619
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5620 non-null   datetime64[ns]
 1   open    5620 non-null   float64
 2   high    5620 non-null   float64
 3   low     5620 non-null   float64
 4   close   5620 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 219.7 KB
None

##### Data imputation

This section aims to handle the missing values present in each DataFrame. Since these stock datasets will eventually be fed into a Vector Auto-regressive (VAR) model, it is quite important to choose a data imputation method that will preserve the temporal and cross-sectional relationships among countries.

Data imputation will be performed in two separate sections since one of our following step will create more missing values. A suitable method is chosen for each step, details are below:

1. Using linear interpolation to fill in the NA values originally presented in each dataset.
2. Dividing the imputed datasets from step 1 into 5 windows as defined in the Window Extraction step, resulting in 5 dictionaries containing DataFrames of countries with available data in each period.
3. The goal of this step is to normalize the date range in each time window since every country has their own public holidays, making the number of available daily trading data different for each country. Performing this step will ensure that holidays data will be included and the number of daily data available for each country within a time window is the same. For each DataFrame in a time window, map the available data into a new empty DataFrame with a date column containing every business days (excluding public holidays) of the associated period. Then, missing data from the mapped DataFrame will be imputed using forward filling method.
4. Calculate daily volatility for each DataFrame in every time window.
5. Create a single DataFrame for each time window with each column representing a country's volatility calculation.

In [11]:
check_missing_values(dataframes)

Missing values for philippines:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for singapore:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for india:
date      0
open     39
high     39
low      39
close    39
dtype: int64


Missing values for uk:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for mexico:
date      0
open     49
high     49
low      49
close    49
dtype: int64


Missing values for japan:
date      0
open     93
high     93
low      93
close    93
dtype: int64


Missing values for vietnam:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for korea:
date      0
open     66
high     66
low      66
close    66
dtype: int64


Missing values for thailand:
date      0
open     73
high     73
low      73
close    73
dtype: int64


Missing values for brazil:
date       0
open     462
high     462
low      462
close    462
dtype: int64


Missing values for malaysia:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for switzerland:
date      0
open     52
high     52
low      52
close    52
dtype: int64


Missing values for china:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for russia:
date      0
open     39
high     39
low      39
close    39
dtype: int64


Missing values for us:
date     0
open     0
high     0
low      0
close    0
dtype: int64

In [12]:
# Impute missing values in the dataframes using linear interpolation method
dataframes = linear_interpolation(dataframes)

In [13]:
# Check whether the missing values have been imputed
check_missing_values(dataframes)

Missing values for philippines:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for singapore:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for india:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for uk:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for mexico:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for japan:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for vietnam:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for korea:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for thailand:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for brazil:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for malaysia:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for switzerland:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for china:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for russia:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for us:
date     0
open     0
high     0
low      0
close    0
dtype: int64

##### Window extraction

In this section, I will perform window extraction for the following time period:
- **Window 1:** 02.01.2002 to 17.09.2007
- **Window 2:** 18.09.2007 to 27.10.2011 (India's dataset starts from 18.09.2007)
- **Window 3:** 28.10.2011 to 31.12.2018 (Philippines's dataset starts from 28.10.2011)
- **Window 4:** 02.01.2019 to 31.12.2022 
- **Window 5:** 02.01.2023 to 30.04.2024

##### 02.01.2002 - 17.09.2007: Recovery period from Dot-com Bubble

In [14]:
# Check whether each DataFrame contains data from 02.01.2002 to 17.09.2007
window_1_start_date = '2002-01-02'
window_1_end_date = '2007-09-17'
check_date_range(dataframes, window_1_start_date, window_1_end_date)

{'philippines': False,
 'singapore': False,
 'india': False,
 'uk': True,
 'mexico': True,
 'japan': True,
 'vietnam': False,
 'korea': True,
 'thailand': True,
 'brazil': False,
 'malaysia': False,
 'switzerland': True,
 'china': True,
 'russia': False,
 'us': True}

The following countries do not have data available for this time period:
1. Philippine
2. Singapore
3. India
4. Vietnam
5. Brazil
6. Malaysia
7. Russia

These 7 countries will be be considered in VAR experiment for this time period, with the addition of China since it only has data from 2005.

In [15]:
dfs_window_1 = extract_date_range(dataframes, window_1_start_date, window_1_end_date)

# Check whether each DataFrame contains data from 02.01.2002 to 17.09.2007
dfs_window_1

{'philippines': Empty DataFrame
 Columns: [date, open, high, low, close]
 Index: [],
 'singapore': Empty DataFrame
 Columns: [date, open, high, low, close]
 Index: [],
 'india': Empty DataFrame
 Columns: [date, open, high, low, close]
 Index: [],
 'uk':            date    open    high     low   close
 0    2002-01-02  5217.4  5261.9  5195.2  5218.3
 1    2002-01-03  5218.3  5328.4  5218.3  5318.8
 2    2002-01-04  5318.8  5362.3  5313.9  5323.8
 3    2002-01-07  5323.8  5354.2  5277.7  5293.6
 4    2002-01-08  5293.6  5307.3  5238.7  5250.4
 ...         ...     ...     ...     ...     ...
 1438 2007-09-11  6134.1  6280.7  6134.1  6280.7
 1439 2007-09-12  6280.7  6317.1  6232.0  6306.2
 1440 2007-09-13  6306.2  6374.5  6280.2  6363.9
 1441 2007-09-14  6363.9  6363.9  6209.1  6289.3
 1442 2007-09-17  6289.3  6289.3  6168.0  6182.8

 [1443 rows x 5 columns],
 'mexico':            date          open          high           low         close
 0    2002-01-02   6386.180176   6415.850098   6382.020020   6410.049805
 1    2002-01-03   6410.089844   6603.750000   6410.089844   6603.750000
 2    2002-01-04   6604.069824   6655.689941   6604.069824   6612.080078
 3    2002-01-07   6615.870117   6635.950195   6556.310059   6565.439941
 4    2002-01-08   6566.089844   6642.310059   6561.850098   6641.140137
 ...         ...           ...           ...           ...           ...
 1479 2007-09-11  29893.179688  30307.359375  29892.439453  30191.140625
 1480 2007-09-12  30191.140625  30317.500000  30025.619141  30076.330078
 1481 2007-09-13  30076.330078  30513.480469  30063.779297  30302.230469
 1482 2007-09-14  30291.509766  30389.019531  30091.490234  30096.029297
 1483 2007-09-17  30080.419922  30222.130859  29573.589844  29794.490234

 [1484 rows x 5 columns],
 'japan':            date          open          high           low         close
 0    2002-01-04  10631.000000  10871.490234  10617.080078  10871.490234
 1    2002-01-07  10803.450195  10979.919922  10803.450195  10942.360352
 2    2002-01-08  10841.969727  10843.259766  10662.250000  10695.599609
 3    2002-01-09  10661.250000  10747.599609  10638.429688  10663.980469
 4    2002-01-10  10652.169922  10710.480469  10494.349609  10538.429688
 ...         ...           ...           ...           ...           ...
 1471 2007-09-10  15906.519531  15906.519531  15651.830078  15764.969727
 1472 2007-09-11  15787.860352  15940.379883  15610.650391  15877.669922
 1473 2007-09-12  15978.780273  16032.259766  15731.320313  15797.599609
 1474 2007-09-13  15886.759766  15931.089844  15802.360352  15821.190430
 1475 2007-09-14  15895.049805  16142.080078  15877.089844  16127.419922

 [1476 rows x 5 columns],
 'vietnam': Empty DataFrame
 Columns: [date, open, high, low, close]
 Index: [],
 'korea':            date         open         high          low        close
 0    2002-01-02   698.000000   725.059998   690.359985   724.950012
 1    2002-01-03   726.760010   735.770020   722.349976   727.659973
 2    2002-01-04   744.460022   750.830017   739.140015   747.719971
 3    2002-01-07   748.539978   757.809998   735.549988   751.479980
 4    2002-01-08   747.210022   750.890015   734.760010   734.760010
 ...         ...          ...          ...          ...          ...
 1463 2007-09-11  1844.680054  1851.349976  1827.900024  1847.359985
 1464 2007-09-12  1853.939941  1855.310059  1813.329956  1813.520020
 1465 2007-09-13  1817.869995  1848.989990  1805.880005  1848.020020
 1466 2007-09-14  1856.170044  1875.949951  1849.369995  1870.020020
 1467 2007-09-17  1873.650024  1876.040039  1853.449951  1871.680054

 [1468 rows x 5 columns],
 'thailand':            date        open        high         low       close
 0    2002-01-02  304.000000  305.200012  302.380005  305.190002
 1    2002-01-03  305.850006  312.429993  305.850006  312.049988
 2    2002-01-04  316.190002  318.010010  314.299988  315.730011
 3    2002-01-07  318.660004  321.149994  316.829987  317.690002
 4    2002-01-08  315.859985  318.799988  315.059998  318.640015
 ...         ...         ...         ...         ...         ...
 1457 2007-09-11  800.530029  804.330017  796.090027  801.539978
 1458 2007-09-12  807.390015  808.059998  801.909973  802.000000
 1459 2007-09-13  803.270020  808.510010  802.789978  807.099976
 1460 2007-09-14  810.419983  816.820007  810.190002  811.950012
 1461 2007-09-17  811.900024  812.049988  801.890015  802.650024

 [1462 rows x 5 columns],
 'brazil': Empty DataFrame
 Columns: [date, open, high, low, close]
 Index: [],
 'malaysia': Empty DataFrame
 Columns: [date, open, high, low, close]
 Index: [],
 'switzerland':            date         open         high          low        close
 0    2002-01-02  6379.299805  6446.700195  6351.700195  6372.299805
 1    2002-01-03  6392.500000  6405.700195  6346.500000  6380.899902
 2    2002-01-04  6408.299805  6412.799805  6361.200195  6392.899902
 3    2002-01-07  6407.000000  6460.100098  6379.000000  6384.399902
 4    2002-01-08  6353.200195  6378.299805  6313.899902  6313.899902
 ...         ...          ...          ...          ...          ...
 1474 2007-09-11  8674.299805  8731.200195  8657.599609  8717.200195
 1475 2007-09-12  8733.900391  8795.700195  8696.200195  8784.000000
 1476 2007-09-13  8765.200195  8891.599609  8734.599609  8878.000000
 1477 2007-09-14  8827.099609  8839.900391  8727.400391  8772.599609
 1478 2007-09-17  8740.599609  8745.500000  8658.200195  8685.799805

 [1479 rows x 5 columns],
 'china':           date     open     high      low    close
 0   2005-01-04   994.77   994.77   980.66   982.79
 1   2005-01-05   981.58   997.32   979.88   992.56
 2   2005-01-06   993.33   993.79   980.33   983.17
 3   2005-01-07   983.05   995.71   979.81   983.96
 4   2005-01-10   983.76   993.96   979.79   993.88
 ..         ...      ...      ...      ...      ...
 652 2007-09-11  5384.56  5414.00  5104.35  5124.09
 653 2007-09-12  5102.58  5212.65  5059.46  5202.86
 654 2007-09-13  5230.65  5351.57  5212.03  5349.97
 655 2007-09-14  5362.47  5405.85  5274.22  5397.28
 656 2007-09-17  5389.50  5504.77  5387.68  5498.91

 [657 rows x 5 columns],
 'russia': Empty DataFrame
 Columns: [date, open, high, low, close]
 Index: [],
 'us':            date         open         high          low        close
 0    2002-01-02  1148.079956  1154.670044  1136.229980  1154.670044
 1    2002-01-03  1154.670044  1165.270020  1154.010010  1165.270020
 2    2002-01-04  1165.270020  1176.550049  1163.420044  1172.510010
 3    2002-01-07  1172.510010  1176.969971  1163.550049  1164.890015
 4    2002-01-08  1164.890015  1167.599976  1157.459961  1160.709961
 ...         ...          ...          ...          ...          ...
 1432 2007-09-11  1451.689941  1472.479980  1451.689941  1471.489990
 1433 2007-09-12  1471.099976  1479.500000  1465.750000  1471.560059
 1434 2007-09-13  1471.469971  1489.579956  1471.469971  1483.949951
 1435 2007-09-14  1483.949951  1485.989990  1473.180054  1484.250000
 1436 2007-09-17  1484.239990  1484.239990  1471.819946  1476.650024

 [1437 rows x 5 columns]}

In [16]:
# Remove countries that do not have data for the specified date range (02.01.2002 to 17.09.2007) from the dictionary
for key in list(dfs_window_1.keys()):
  if dfs_window_1[key].empty:
    del dfs_window_1[key]

# Remove the 'china' DataFrame from the dictionary
del dfs_window_1['china']

In [17]:
len(dfs_window_1)

7

In [18]:
# Map dfs_window_1 to a new date range
dfs_window_1 = map_date_range(dfs_window_1, window_1_start_date, window_1_end_date)

In [19]:
# Check for missing values in the dfs_window_1
check_missing_values(dfs_window_1)

Missing values for uk:
date      0
open     46
high     46
low      46
close    46
dtype: int64


Missing values for mexico:
date     0
open     5
high     5
low      5
close    5
dtype: int64


Missing values for japan:
date      0
open     13
high     13
low      13
close    13
dtype: int64


Missing values for korea:
date      0
open     21
high     21
low      21
close    21
dtype: int64


Missing values for thailand:
date      0
open     27
high     27
low      27
close    27
dtype: int64


Missing values for switzerland:
date      0
open     10
high     10
low      10
close    10
dtype: int64


Missing values for us:
date      0
open     52
high     52
low      52
close    52
dtype: int64

In [20]:
# Impute missing values in dfs_window_1 using forward fill method
dfs_window_1 = forward_fill(dfs_window_1)

/Users/annguyen/Documents/Master Degree/Dissertation/Submissions/Experiments/functions/preprocessing.py:42: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill", inplace=True)

In [21]:
# Check for missing values in the dfs_window_1
check_missing_values(dfs_window_1)

Missing values for uk:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for mexico:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for japan:
date     0
open     2
high     2
low      2
close    2
dtype: int64


Missing values for korea:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for thailand:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for switzerland:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for us:
date     0
open     0
high     0
low      0
close    0
dtype: int64

Japan still has 2 missing values. These missing values are probably the first two days of the period. Let's use backward fill to handle these two missing values.

In [22]:
dfs_window_1 = backward_fill(dfs_window_1)

/Users/annguyen/Documents/Master Degree/Dissertation/Submissions/Experiments/functions/preprocessing.py:54: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="bfill", inplace=True)

In [23]:
# Check for missing values in the dfs_window_1 again to make sure the missing values have been imputed
check_missing_values(dfs_window_1)

Missing values for uk:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for mexico:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for japan:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for korea:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for thailand:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for switzerland:
date     0
open     0
high     0
low      0
close    0
dtype: int64


Missing values for us:
date     0
open     0
high     0
low      0
close    0
dtype: int64

In [24]:
# Calculate the volatility for each country
dfs_window_1 = calculate_volatility(dfs_window_1)

In [25]:
# Create volatility DataFrame for window 1
df_window_1 = create_volatility_df(dfs_window_1)

In [26]:
# Print out the first 5 rows of the volatility DataFrame
df_window_1.head()

,date,uk,mexico,japan,korea,thailand,switzerland,us
0,2002-01-02,17.955641,5.943942,19.791884,51.994083,12.228153,20.881106,21.664973
1,2002-01-03,18.456913,21.957613,19.791884,25.862243,17.854374,12.890345,8.171472
2,2002-01-04,12.755441,10.922138,19.791884,21.446678,16.412695,11.019224,13.936110
3,2002-01-07,19.064627,14.299720,16.900705,41.700360,18.717009,17.311078,14.120694
4,2002-01-08,15.443547,10.420974,17.203246,22.994618,12.864248,12.207484,11.487229

Performing ADF Stationarity Test

In [27]:
for country in df_window_1.drop(columns=['date']).columns:
    adf_test(df_window_1, country)

Results of Augmented Dickey-Fuller Test for uk:
ADF Statistic: -3.312306568085512
p-value: 0.014337253065932897
Critical Values:
	1%: -3.434803261722705
	5%: -2.863506823125904
	10%: -2.567817117325164
Reject the null hypothesis. The time series uk is stationary.


Results of Augmented Dickey-Fuller Test for mexico:
ADF Statistic: -4.9554957820537355
p-value: 2.7162992260244777e-05
Critical Values:
	1%: -3.4347941822385923
	5%: -2.863502816068378
	10%: -2.5678149835134185
Reject the null hypothesis. The time series mexico is stationary.


Results of Augmented Dickey-Fuller Test for japan:
ADF Statistic: -2.976810034469136
p-value: 0.03711753950882737
Critical Values:
	1%: -3.4348184769200056
	5%: -2.86351353803652
	10%: -2.567820693109295
Reject the null hypothesis. The time series japan is stationary.


Results of Augmented Dickey-Fuller Test for korea:
ADF Statistic: -3.968076683867417
p-value: 0.001587211913799357
Critical Values:
	1%: -3.434806296467238
	5%: -2.8635081624499494
	10%: -2.567817830533574
Reject the null hypothesis. The time series korea is stationary.


Results of Augmented Dickey-Fuller Test for thailand:
ADF Statistic: -5.7783410311949
p-value: 5.195832879724472e-07
Critical Values:
	1%: -3.434791163965702
	5%: -2.8635014840083945
	10%: -2.5678142741740877
Reject the null hypothesis. The time series thailand is stationary.


Results of Augmented Dickey-Fuller Test for switzerland:
ADF Statistic: -2.63966820971914
p-value: 0.08507262565416013
Critical Values:
	1%: -3.4348245921503673
	5%: -2.8635162368565643
	10%: -2.5678221302703874
Fail to reject the null hypothesis. The time series switzerland is non-stationary.


Results of Augmented Dickey-Fuller Test for us:
ADF Statistic: -3.0054873020633353
p-value: 0.03438512325849684
Critical Values:
	1%: -3.4347941822385923
	5%: -2.863502816068378
	10%: -2.5678149835134185
Reject the null hypothesis. The time series us is stationary.

##### 18.09.2007 - 27.10.2011: Global Financial Crisis

In [28]:
# Check whether each DataFrame contains data from 18.09.2007 to 27.10.2011
window_2_start_date = '2007-09-18'
window_2_end_date = '2011-10-27'
check_date_range(dataframes, window_2_start_date, window_2_end_date)

{'philippines': False,
 'singapore': True,
 'india': True,
 'uk': True,
 'mexico': True,
 'japan': True,
 'vietnam': True,
 'korea': True,
 'thailand': True,
 'brazil': True,
 'malaysia': True,
 'switzerland': True,
 'china': True,
 'russia': False,
 'us': True}

Most countries have data from 18.09.2007 to 27.10.2011, with the exception of Philippines and Russia. In addition, there are Singapore, which only has data from 07.03.2011. These 3 countries will be remove from this time window.

In [29]:
dfs_window_2 = extract_date_range(dataframes, window_2_start_date, window_2_end_date)

# Check whether each DataFrame contains data from 18.09.2007 to 27.10.2011
dfs_window_2

{'philippines': Empty DataFrame
 Columns: [date, open, high, low, close]
 Index: [],
 'singapore':           date     open     high      low    close
 0   2011-03-07  3054.43  3074.93  3047.59  3066.52
 1   2011-03-08  3063.58  3105.90  3062.52  3103.84
 2   2011-03-09  3110.54  3113.02  3087.84  3092.90
 3   2011-03-10  3093.79  3094.38  3070.55  3075.44
 4   2011-03-11  3053.07  3058.27  3024.17  3043.49
 ..         ...      ...      ...      ...      ...
 158 2011-10-20  2719.26  2720.73  2685.34  2694.01
 159 2011-10-21  2702.51  2719.12  2698.61  2712.41
 160 2011-10-24  2745.69  2776.94  2745.50  2760.95
 161 2011-10-25  2765.18  2780.24  2752.56  2769.94
 162 2011-10-27  2776.76  2862.01  2764.82  2847.57

 [163 rows x 5 columns],
 'india':            date         open         high          low        close
 0    2007-09-18  6136.330078  6199.839844  6117.209961  6192.879883
 1    2007-09-19  6274.509766  6403.439941  6274.509766  6399.479980
 2    2007-09-20  6408.549805  6463.220215  6386.939941  6437.810059
 3    2007-09-21  6442.580078  6526.720215  6435.350098  6514.379883
 4    2007-09-24  6559.279785  6631.620117  6533.140137  6626.899902
 ...         ...          ...          ...          ...          ...
 1009 2011-10-19  6490.720215  6575.790039  6490.720215  6568.950195
 1010 2011-10-20  6525.879883  6525.879883  6459.970215  6515.680176
 1011 2011-10-21  6524.790039  6550.589844  6450.520020  6461.120117
 1012 2011-10-24  6516.180176  6565.290039  6486.799805  6496.799805
 1013 2011-10-25  6515.939941  6603.129883  6475.370117  6583.830078

 [1014 rows x 5 columns],
 'uk':            date     open     high      low    close
 1443 2007-09-18  6182.80  6298.50  6158.80  6283.30
 1444 2007-09-19  6283.30  6512.40  6283.30  6460.00
 1445 2007-09-20  6460.00  6460.00  6395.10  6429.00
 1446 2007-09-21  6429.00  6481.60  6409.90  6456.70
 1447 2007-09-24  6456.70  6494.20  6437.30  6465.90
 ...         ...      ...      ...      ...      ...
 2476 2011-10-21  5384.68  5500.54  5384.68  5488.65
 2477 2011-10-24  5488.65  5552.79  5487.21  5548.06
 2478 2011-10-25  5548.06  5574.13  5465.52  5525.54
 2479 2011-10-26  5525.54  5576.63  5498.51  5553.24
 2480 2011-10-27  5553.24  5747.33  5553.24  5713.82

 [1038 rows x 5 columns],
 'mexico':            date          open          high           low         close
 1484 2007-09-18  29795.869141  30741.449219  29795.869141  30603.419922
 1485 2007-09-19  30607.099609  31090.480469  30512.640625  30512.640625
 1486 2007-09-20  30512.640625  30697.269531  30248.910156  30485.750000
 1487 2007-09-21  30485.750000  30722.939453  30356.580078  30583.070313
 1488 2007-09-24  30585.599609  30753.880859  30417.699219  30543.449219
 ...         ...           ...           ...           ...           ...
 2514 2011-10-21  34393.781250  35111.351563  34392.308594  35020.738281
 2515 2011-10-24  35024.558594  35583.460938  34883.988281  35265.558594
 2516 2011-10-25  35266.191406  35373.488281  35027.078125  35290.148438
 2517 2011-10-26  35290.539063  36012.429688  35238.800781  35818.578125
 2518 2011-10-27  35844.851563  37010.968750  35844.851563  36727.210938

 [1035 rows x 5 columns],
 'japan':            date          open          high           low         close
 1476 2007-09-18  16037.490234  16037.490234  15780.900391  15801.799805
 1477 2007-09-19  16038.120117  16386.169922  16038.120117  16381.540039
 1478 2007-09-20  16474.660156  16491.449219  16344.280273  16413.789063
 1479 2007-09-21  16284.429688  16353.969727  16245.940430  16312.610352
 1480 2007-09-25  16317.190430  16434.800781  16240.259766  16401.730469
 ...         ...           ...           ...           ...           ...
 2474 2011-10-21   8679.040039   8700.490234   8652.259766   8678.889648
 2475 2011-10-24   8764.919922   8844.280273   8762.019531   8843.980469
 2476 2011-10-25   8866.429688   8870.370117   8755.379883   8762.309570
 2477 2011-10-26   8673.849609   8798.799805   8642.559570   8748.469727
 2478 2011-10-27   8779.400391   8926.540039   8731.769531   8926.540039

 [1003 rows x 5 columns],
 'vietnam':           date    open    high     low   close
 0   2009-01-05  311.23  311.23  311.23  311.23
 1   2009-01-06  314.21  314.21  314.21  314.21
 2   2009-01-07  320.53  320.53  320.53  320.53
 3   2009-01-08  314.14  314.14  314.14  314.14
 4   2009-01-09  312.90  312.90  312.90  312.90
 ..         ...     ...     ...     ...     ...
 697 2011-10-21  434.01  434.01  434.01  434.01
 698 2011-10-24  437.26  437.26  437.26  437.26
 699 2011-10-25  433.93  433.93  433.93  433.93
 700 2011-10-26  436.45  436.45  436.45  436.45
 701 2011-10-27  439.67  439.67  439.67  439.67

 [702 rows x 5 columns],
 'korea':            date         open         high          low        close
 1468 2007-09-18  1867.609985  1870.829956  1837.219971  1838.609985
 1469 2007-09-19  1892.780029  1905.750000  1886.949951  1902.650024
 1470 2007-09-20  1902.229980  1915.189941  1894.760010  1908.969971
 1471 2007-09-21  1909.369995  1921.229980  1902.109985  1919.260010
 1472 2007-09-27  1944.869995  1952.390015  1935.020020  1945.280029
 ...         ...          ...          ...          ...          ...
 2495 2011-10-21  1831.890015  1843.510010  1809.420044  1838.380005
 2496 2011-10-24  1858.260010  1898.319946  1858.229980  1898.319946
 2497 2011-10-25  1900.989990  1905.780029  1883.680054  1888.650024
 2498 2011-10-26  1871.689941  1896.020020  1864.989990  1894.310059
 2499 2011-10-27  1906.160034  1923.979980  1891.229980  1922.040039

 [1032 rows x 5 columns],
 'thailand':            date        open        high         low       close
 1462 2007-09-18  802.090027  805.890015  800.450012  802.539978
 1463 2007-09-19  811.109985  816.119995  811.039978  811.789978
 1464 2007-09-20  814.340027  817.690002  813.270020  815.429993
 1465 2007-09-21  817.679993  831.510010  817.679993  831.510010
 1466 2007-09-24  835.869995  842.700012  831.390015  836.510010
 ...         ...         ...         ...         ...         ...
 2464 2011-10-20  925.700012  925.700012  902.630005  909.099976
 2465 2011-10-21  907.710022  921.609985  905.700012  916.340027
 2466 2011-10-25  928.380005  943.890015  923.979980  942.549988
 2467 2011-10-26  937.049988  945.940002  930.299988  938.679993
 2468 2011-10-27  949.919983  963.570007  949.919983  960.169983

 [1007 rows x 5 columns],
 'brazil':           date       open       high        low      close
 0   2010-02-24  41.740002  42.009998  41.529999  41.529999
 1   2010-02-25  40.810001  41.720001  40.730000  41.669998
 2   2010-02-26  41.720001  41.880001  41.709999  41.880001
 3   2010-03-01  42.439999  42.439999  42.439999  42.439999
 4   2010-03-02  42.750000  42.810001  42.750000  42.810001
 ..         ...        ...        ...        ...        ...
 414 2011-10-21  37.299999  37.299999  37.299999  37.299999
 415 2011-10-24  38.160000  38.160000  38.160000  38.160000
 416 2011-10-25  37.680000  37.860001  37.669998  37.860001
 417 2011-10-26  38.320000  38.320000  38.320000  38.320000
 418 2011-10-27  38.935000  38.935000  38.905001  38.905001

 [419 rows x 5 columns],
 'malaysia':           date     open     high      low    close
 0   2010-05-20  1304.86  1309.13  1300.44  1304.16
 1   2010-05-21  1290.51  1290.51  1280.63  1285.73
 2   2010-05-24  1282.96  1282.96  1264.11  1273.69
 3   2010-05-25  1264.97  1265.78  1247.85  1250.13
 4   2010-05-26  1256.16  1260.27  1247.35  1248.94
 ..         ...      ...      ...      ...      ...
 351 2011-10-20  1445.50  1445.50  1429.38  1441.18
 352 2011-10-21  1441.16  1446.85  1371.18  1438.83
 353 2011-10-24  1449.83  1462.06  1449.10  1450.02
 354 2011-10-25  1453.46  1457.80  1448.12  1457.80
 355 2011-10-27  1461.55  1474.27  1459.98  1470.93

 [356 rows x 5 columns],
 'switzerland':            date         open         high          low        close
 1479 2007-09-18  8668.900391  8797.599609  8666.200195  8775.900391
 1480 2007-09-19  8966.299805  9057.900391  8923.500000  9006.799805
 1481 2007-09-20  8948.400391  8977.099609  8896.700195  8896.700195
 1482 2007-09-21  8902.200195  8958.299805  8874.200195  8897.299805
 1483 2007-09-24  8874.200195  8940.299805  8866.299805  8906.099609
 ...         ...          ...          ...          ...          ...
 2516 2011-10-21  5687.479980  5759.930176  5644.799805  5753.520020
 2517 2011-10-24  5771.640137  5804.240234  5746.729980  5788.629883
 2518 2011-10-25  5769.720215  5798.169922  5687.810059  5708.790039
 2519 2011-10-26  5686.259766  5735.419922  5662.430176  5700.500000
 2520 2011-10-27  5815.310059  5857.120117  5781.080078  5823.000000

 [1042 rows x 5 columns],
 'china':            date     open     high      low    close
 657  2007-09-18  5524.10  5533.53  5405.18  5476.84
 658  2007-09-19  5487.38  5498.59  5385.42  5419.27
 659  2007-09-20  5436.64  5501.40  5430.31  5494.91
 660  2007-09-21  5508.51  5516.11  5357.50  5468.10
 661  2007-09-24  5481.38  5541.13  5400.68  5513.90
 ...         ...      ...      ...      ...      ...
 1651 2011-10-21  2522.26  2538.12  2504.69  2507.88
 1652 2011-10-24  2517.06  2581.12  2501.96  2576.67
 1653 2011-10-25  2572.71  2633.97  2560.05  2625.43
 1654 2011-10-26  2613.27  2679.66  2611.01  2651.65
 1655 2011-10-27  2658.43  2672.84  2647.30  2657.48

 [999 rows x 5 columns],
 'russia': Empty DataFrame
 Columns: [date, open, high, low, close]
 Index: [],
 'us':            date         open         high          low        close
 1437 2007-09-18  1476.630005  1519.890015  1476.630005  1519.780029
 1438 2007-09-19  1519.750000  1538.739990  1519.750000  1529.030029
 1439 2007-09-20  1528.689941  1529.140015  1516.420044  1518.750000
 1440 2007-09-21  1518.750000  1530.890015  1518.750000  1525.750000
 1441 2007-09-24  1525.750000  1530.180054  1516.150024  1517.729980
 ...         ...          ...          ...          ...          ...
 2470 2011-10-21  1215.390015  1239.030029  1215.390015  1238.250000
 2471 2011-10-24  1238.719971  1256.550049  1238.719971  1254.189941
 2472 2011-10-25  1254.189941  1254.189941  1226.790039  1229.050049
 2473 2011-10-26  1229.170044  1246.280029  1221.060059  1242.000000
 2474 2011-10-27  1243.969971  1292.660034  1243.969971  1284.589966

 [1038 rows x 5 columns]}

In [30]:
# Remove countries that do not have data for the specified date range (02.01.2002 to 17.09.2007) from the dictionary
for key in list(dfs_window_2.keys()):
  if dfs_window_2[key].empty:
    del dfs_window_2[key]

# Remove the 'singapore' DataFrame from the dictionary
del dfs_window_2['singapore']

In [31]:
len(dfs_window_2)

12

##### 28.10.2011 - 31.12.2018: Recovery from Global Financial Crisis

In [32]:
# Check whether each DataFrame contains data from 28.10.2011 to 31.12.2018
window_3_start_date = '2011-10-28'
window_3_end_date = '2018-12-31'
check_date_range(dataframes, window_3_start_date, window_3_end_date)

{'philippines': True,
 'singapore': True,
 'india': True,
 'uk': True,
 'mexico': True,
 'japan': True,
 'vietnam': True,
 'korea': True,
 'thailand': True,
 'brazil': True,
 'malaysia': True,
 'switzerland': True,
 'china': True,
 'russia': True,
 'us': True}

Most DataFrame appears to have data from 28.10.2011 to 31.12.2018, except from Russia, which only has data from 2013. Russia will be removed from this time window.

In [33]:
dfs_window_3 = extract_date_range(dataframes, window_3_start_date, window_3_end_date)

# Check whether each DataFrame contains data from 28.10.2011 - 31.12.2018
dfs_window_3

{'philippines':            date     open     high      low    close
 0    2011-10-28  4335.08  4345.75  4326.25  4333.72
 1    2011-11-02  4332.93  4332.93  4254.44  4260.41
 2    2011-11-03  4264.20  4286.26  4207.44  4210.25
 3    2011-11-04  4229.72  4275.70  4229.72  4271.72
 4    2011-11-08  4277.70  4322.26  4277.70  4314.67
 ...         ...      ...      ...      ...      ...
 1738 2018-12-20  7514.07  7584.44  7498.19  7563.41
 1739 2018-12-21  7536.87  7548.13  7452.24  7479.71
 1740 2018-12-26  7436.73  7453.22  7378.88  7450.01
 1741 2018-12-27  7465.04  7514.33  7447.22  7482.66
 1742 2018-12-28  7497.16  7507.29  7466.02  7466.02

 [1743 rows x 5 columns],
 'singapore':            date     open     high      low    close
 163  2011-10-28  2879.73  2905.72  2865.86  2905.72
 164  2011-10-31  2903.97  2903.97  2855.77  2855.77
 165  2011-11-01  2832.37  2843.58  2785.23  2789.35
 166  2011-11-02  2760.73  2836.75  2754.69  2834.75
 167  2011-11-03  2801.57  2813.48  2781.27  2810.04
 ...         ...      ...      ...      ...      ...
 1970 2018-12-25  3051.06  3051.06  3051.06  3051.06
 1971 2018-12-26  3001.53  3022.24  3000.45  3011.15
 1972 2018-12-27  3055.43  3076.10  3041.91  3044.74
 1973 2018-12-28  3049.63  3069.19  3039.85  3053.43
 1974 2018-12-31  3064.09  3070.49  3061.53  3068.76

 [1812 rows x 5 columns],
 'india':            date          open          high           low         close
 1014 2011-10-28   6707.500000   6794.049805   6707.500000   6782.189941
 1015 2011-10-31   6781.890137   6796.790039   6748.680176   6763.259766
 1016 2011-11-01   6723.250000   6758.229980   6670.919922   6695.180176
 1017 2011-11-02   6659.970215   6738.649902   6659.970215   6693.540039
 1018 2011-11-03   6686.620117   6718.750000   6641.839844   6706.100098
 ...         ...           ...           ...           ...           ...
 2781 2018-12-24  14435.860352  14447.860352  14263.679688  14279.650391
 2782 2018-12-26  14274.219727  14354.480469  14084.150391  14334.400391
 2783 2018-12-27  14436.690430  14457.379883  14382.929688  14390.120117
 2784 2018-12-28  14429.660156  14550.089844  14429.650391  14516.040039
 2785 2018-12-31  14569.190430  14602.480469  14529.230469  14540.389648

 [1772 rows x 5 columns],
 'uk':            date     open     high      low    close
 2481 2011-10-28  5713.82  5746.88  5684.95  5702.24
 2482 2011-10-31  5702.24  5702.24  5544.22  5544.22
 2483 2011-11-01  5544.22  5544.22  5338.36  5421.57
 2484 2011-11-02  5421.57  5493.29  5383.37  5484.10
 2485 2011-11-03  5484.10  5564.54  5402.63  5545.64
 ...         ...      ...      ...      ...      ...
 4289 2018-12-21  6711.93  6733.00  6653.65  6721.17
 4290 2018-12-24  6721.17  6721.17  6661.04  6685.99
 4291 2018-12-27  6685.99  6728.49  6536.53  6584.68
 4292 2018-12-28  6584.68  6742.48  6584.68  6733.97
 4293 2018-12-31  6733.97  6752.54  6718.32  6728.13

 [1813 rows x 5 columns],
 'mexico':            date          open          high           low         close
 2519 2011-10-28  36727.210938  37169.730469  36360.921875  36708.640625
 2520 2011-10-31  36707.480469  37334.148438  36159.988281  36159.988281
 2521 2011-11-01  36162.210938  36162.210938  35174.101563  35742.570313
 2522 2011-11-03  35756.230469  36686.859375  35756.230469  36579.070313
 2523 2011-11-04  36579.070313  36714.671875  36389.238281  36689.378906
 ...         ...           ...           ...           ...           ...
 4310 2018-12-24  41421.558594  41698.250000  41182.609375  41380.109375
 4311 2018-12-26  41364.160156  41702.859375  41177.800781  41573.609375
 4312 2018-12-27  41444.238281  41584.640625  40978.921875  41417.851563
 4313 2018-12-28  41422.480469  41621.378906  41216.031250  41459.148438
 4314 2018-12-31  41461.691406  41723.691406  41421.070313  41640.269531

 [1796 rows x 5 columns],
 'japan':            date          open          high           low         close
 2479 2011-10-28   9059.040039   9086.429688   9003.089844   9050.469727
 2480 2011-10-31   9011.179688   9152.389648   8988.389648   8988.389648
 2481 2011-11-01   8880.750000   8946.000000   8831.690430   8835.519531
 2482 2011-11-02   8719.919922   8719.919922   8640.419922   8640.419922
 2483 2011-11-04   8761.269531   8814.709961   8729.080078   8801.400391
 ...         ...           ...           ...           ...           ...
 4257 2018-12-25  19785.429688  19785.429688  19117.960938  19155.740234
 4258 2018-12-26  19302.589844  19530.349609  18948.580078  19327.060547
 4259 2018-12-27  19706.189453  20211.570313  19701.759766  20077.619141
 4260 2018-12-28  19957.880859  20084.380859  19900.039063  20014.769531
 4261 2018-12-31  19806.505859  19888.480468  19570.704102  19788.365235

 [1783 rows x 5 columns],
 'vietnam':            date    open    high     low   close
 702  2011-10-28  447.44  447.44  447.44  447.44
 703  2011-10-31  444.87  444.87  444.87  444.87
 704  2011-11-01  439.32  439.32  439.32  439.32
 705  2011-11-02  435.48  435.48  435.48  435.48
 706  2011-11-03  435.21  435.21  435.21  435.21
 ...         ...     ...     ...     ...     ...
 2488 2018-12-24  873.14  879.74  872.99  873.64
 2489 2018-12-25  873.56  873.56  850.33  865.69
 2490 2018-12-26  865.69  867.88  860.52  861.02
 2491 2018-12-27  861.53  872.73  861.53  865.45
 2492 2018-12-28  866.04  868.62  854.99  854.99

 [1791 rows x 5 columns],
 'korea':            date         open         high          low        close
 2500 2011-10-28  1961.089966  1963.739990  1920.810059  1929.479980
 2501 2011-10-31  1922.310059  1941.319946  1902.040039  1909.030029
 2502 2011-11-01  1891.219971  1925.079956  1891.219971  1909.630005
 2503 2011-11-02  1870.510010  1899.349976  1859.829956  1898.010010
 2504 2011-11-03  1895.140015  1895.140015  1863.569946  1869.959961
 ...         ...          ...          ...          ...          ...
 4260 2018-12-21  2052.699951  2061.510010  2049.760010  2061.489990
 4261 2018-12-24  2050.379883  2059.939941  2046.180054  2055.010010
 4262 2018-12-26  2028.810059  2037.829956  2014.280029  2028.010010
 4263 2018-12-27  2032.089966  2035.569946  2021.390015  2028.439941
 4264 2018-12-28  2036.699951  2046.969971  2035.410034  2041.040039

 [1765 rows x 5 columns],
 'thailand':            date         open         high          low        close
 2469 2011-10-28   970.859985   985.700012   970.859985   973.179993
 2470 2011-10-31   976.539978   981.830017   969.849976   974.750000
 2471 2011-11-01   970.760010   978.640015   955.130005   956.590027
 2472 2011-11-02   950.690002   968.859985   948.239990   965.799988
 2473 2011-11-03   952.210022   957.559998   945.400024   957.559998
 ...         ...          ...          ...          ...          ...
 4218 2018-12-24  1589.689941  1599.890015  1588.560059  1591.290039
 4219 2018-12-25  1576.400024  1576.750000  1555.000000  1556.650024
 4220 2018-12-26  1556.949951  1562.000000  1548.989990  1556.930054
 4221 2018-12-27  1582.219971  1585.770020  1546.619995  1548.369995
 4222 2018-12-28  1550.869995  1564.020020  1549.699951  1563.880005

 [1754 rows x 5 columns],
 'brazil':            date       open       high        low      close
 419  2011-10-28  39.549999  39.549999  39.490002  39.490002
 420  2011-10-31  39.000000  39.169998  38.910000  39.000000
 421  2011-11-01  37.840000  38.549999  37.840000  38.490002
 422  2011-11-03  39.060001  39.139999  39.060001  39.139999
 423  2011-11-04  39.380001  39.380001  39.380001  39.380001
 ...         ...        ...        ...        ...        ...
 2193 2018-12-20  70.370003  71.489998  69.250000  71.489998
 2194 2018-12-21  69.699997  70.599998  69.599998  70.000000
 2195 2018-12-26  70.000000  70.000000  68.870003  69.750000
 2196 2018-12-27  69.870003  69.970001  69.720001  69.720001
 2197 2018-12-28  70.500000  71.650002  70.500000  71.650002

 [1779 rows x 5 columns],
 'malaysia':            date     open     high      low    close
 356  2011-10-28  1480.22  1488.20  1478.15  1481.82
 357  2011-10-31  1484.66  1493.28  1475.71  1491.89
 358  2011-11-01  1484.13  1485.90  1474.61  1475.64
 359  2011-11-02  1467.80  1473.13  1457.50  1470.95
 360  2011-11-03  1471.87  1473.45  1452.64  1462.37
 ...         ...      ...      ...      ...      ...
 2127 2018-12-24  1669.99  1683.82  1658.10  1683.82
 2128 2018-12-26  1668.69  1674.85  1660.80  1672.60
 2129 2018-12-27  1679.71  1691.65  1677.33  1690.72
 2130 2018-12-28  1687.91  1694.08  1684.47  1692.07
 2131 2018-12-31  1693.76  1701.10  1689.04  1690.58

 [1776 rows x 5 columns],
 'switzerland':            date         open         high          low        close
 2521 2011-10-28  5830.459961  5862.040039  5822.140137  5852.660156
 2522 2011-10-31  5814.990234  5832.060059  5731.270020  5731.270020
 2523 2011-11-01  5618.580078  5646.850098  5522.180176  5588.569824
 2524 2011-11-02  5618.879883  5643.859863  5566.060059  5611.049805
 2525 2011-11-03  5547.069824  5678.109863  5546.310059  5668.049805
 ...         ...          ...          ...          ...          ...
 4314 2018-12-19  8535.799805  8568.190430  8506.110352  8540.160156
 4315 2018-12-20  8403.950195  8470.469727  8383.259766  8414.480469
 4316 2018-12-21  8406.040039  8454.099609  8336.089844  8417.290039
 4317 2018-12-27  8470.200195  8472.639648  8138.560059  8195.639648
 4318 2018-12-28  8282.009766  8448.219727  8280.349609  8429.299805

 [1798 rows x 5 columns],
 'china':            date     open     high      low    close
 1656 2011-10-28  2694.54  2729.14  2689.38  2709.02
 1657 2011-10-31  2704.53  2709.32  2680.99  2695.31
 1658 2011-11-01  2672.51  2726.09  2669.05  2697.53
 1659 2011-11-02  2658.55  2742.94  2653.72  2742.39
 1660 2011-11-03  2752.63  2781.04  2743.20  2744.30
 ...         ...      ...      ...      ...      ...
 3400 2018-12-24  3015.50  3040.35  3007.33  3038.20
 3401 2018-12-25  3006.88  3030.14  2964.88  3017.28
 3402 2018-12-26  3012.87  3029.06  2996.48  3002.03
 3403 2018-12-27  3042.95  3047.23  2990.51  2990.51
 3404 2018-12-28  2994.80  3024.35  2984.82  3010.65

 [1749 rows x 5 columns],
 'russia':            date         open         high          low        close
 0    2013-03-06  1485.040039  1498.020020  1485.040039  1491.489990
 1    2013-03-07  1491.989990  1498.290039  1489.020020  1491.349976
 2    2013-03-11  1503.979980  1506.420044  1503.640015  1505.930054
 3    2013-03-12  1501.410034  1501.410034  1499.380005  1499.739990
 4    2013-03-13  1495.729980  1496.680054  1494.949951  1495.880005
 ...         ...          ...          ...          ...          ...
 1456 2018-12-24  2345.979980  2346.360107  2315.429932  2322.270020
 1457 2018-12-25  2318.979980  2331.170044  2303.704956  2315.560059
 1458 2018-12-26  2291.979980  2315.979980  2291.979980  2308.850098
 1459 2018-12-27  2316.659912  2340.629883  2316.659912  2327.810059
 1460 2018-12-28  2329.959961  2369.239990  2329.959961  2358.500000

 [1461 rows x 5 columns],
 'us':            date         open         high          low        close
 2475 2011-10-28  1284.390015  1287.079956  1277.010010  1285.089966
 2476 2011-10-31  1284.959961  1284.959961  1253.160034  1253.300049
 2477 2011-11-01  1251.000000  1251.000000  1215.420044  1218.280029
 2478 2011-11-02  1219.619995  1242.479980  1219.619995  1237.900024
 2479 2011-11-03  1238.250000  1263.209961  1234.810059  1261.150024
 ...         ...          ...          ...          ...          ...
 4274 2018-12-24  2400.560059  2410.340088  2351.100098  2351.100098
 4275 2018-12-26  2363.120117  2467.760010  2346.580078  2467.699951
 4276 2018-12-27  2442.500000  2489.100098  2397.939941  2488.830078
 4277 2018-12-28  2498.770020  2520.270020  2472.889893  2485.739990
 4278 2018-12-31  2498.939941  2509.239990  2482.820068  2506.850098

 [1804 rows x 5 columns]}

In [34]:
del dfs_window_3['russia']

In [35]:
len(dfs_window_3)

14

##### 02.01.2019 - 31.12.2022: COVID-19 pandemic

In [36]:
# Check whether each DataFrame contains data from 02.01.2019 to 31.12.2022
window_4_start_date = '2019-01-02'
window_4_end_date = '2022-12-31'
check_date_range(dataframes, window_4_start_date, window_4_end_date)

{'philippines': True,
 'singapore': True,
 'india': True,
 'uk': True,
 'mexico': True,
 'japan': True,
 'vietnam': True,
 'korea': True,
 'thailand': True,
 'brazil': True,
 'malaysia': True,
 'switzerland': True,
 'china': True,
 'russia': True,
 'us': True}

In [37]:
dfs_window_4 = extract_date_range(dataframes, window_4_start_date, window_4_end_date)

# Check whether each DataFrame contains data from 02.01.2019 to 31.12.2022
dfs_window_4

{'philippines':            date     open     high      low    close
 1743 2019-01-02  7496.57  7540.26  7465.76  7489.20
 1744 2019-01-03  7507.48  7680.60  7490.28  7680.60
 1745 2019-01-04  7657.18  7801.50  7657.18  7761.11
 1746 2019-01-07  7800.88  7900.70  7787.66  7787.66
 1747 2019-01-08  7820.26  7826.08  7702.12  7702.12
 ...         ...      ...      ...      ...      ...
 2724 2022-12-23  6567.92  6567.92  6536.67  6541.03
 2725 2022-12-26  6541.03  6541.03  6541.03  6541.03
 2726 2022-12-27  6549.09  6579.26  6519.90  6564.90
 2727 2022-12-28  6567.13  6576.71  6530.27  6566.54
 2728 2022-12-29  6553.67  6591.28  6529.69  6566.39

 [986 rows x 5 columns],
 'singapore':            date     open     high      low    close
 1975 2019-01-02  3072.99  3081.01  3028.84  3038.89
 1976 2019-01-03  3022.27  3041.03  3002.40  3012.88
 1977 2019-01-04  2994.02  3059.23  2993.42  3059.23
 1978 2019-01-07  3101.26  3104.32  3084.88  3102.80
 1979 2019-01-08  3108.38  3126.64  3099.33  3122.94
 ...         ...      ...      ...      ...      ...
 2846 2022-12-23  3257.19  3261.99  3250.16  3257.70
 2847 2022-12-27  3277.58  3277.94  3264.03  3266.38
 2848 2022-12-28  3257.75  3270.33  3256.24  3266.97
 2849 2022-12-29  3255.10  3257.00  3234.93  3249.24
 2850 2022-12-30  3259.23  3261.88  3247.85  3251.32

 [876 rows x 5 columns],
 'india':            date          open          high           low         close
 2787 2019-01-02  14567.629883  14582.129883  14382.219727  14432.400391
 2788 2019-01-03  14447.929688  14481.750000  14279.150391  14290.849609
 2789 2019-01-04  14322.599609  14371.900391  14239.570313  14355.019531
 2790 2019-01-07  14452.500000  14483.959961  14371.519531  14389.349609
 2791 2019-01-08  14419.190430  14443.750000  14352.950195  14425.570313
 ...         ...           ...           ...           ...           ...
 3771 2022-12-26  23882.480469  24440.000000  23865.880859  24353.570313
 3772 2022-12-27  24492.529297  24570.800781  24331.050781  24547.300781
 3773 2022-12-28  24518.759766  24630.880859  24467.300781  24576.490234
 3774 2022-12-29  24477.710938  24699.859375  24376.599609  24660.880859
 3775 2022-12-30  24756.730469  24815.720703  24571.720703  24605.779297

 [989 rows x 5 columns],
 'uk':            date     open     high      low    close
 4294 2019-01-02  6728.13  6753.29  6599.48  6734.23
 4295 2019-01-03  6734.23  6753.14  6685.09  6692.66
 4296 2019-01-04  6692.66  6850.37  6692.50  6837.42
 4297 2019-01-07  6837.42  6874.11  6778.01  6810.88
 4298 2019-01-08  6810.88  6901.48  6804.89  6861.60
 ...         ...      ...      ...      ...      ...
 5257 2022-12-22  7497.32  7540.31  7463.54  7469.28
 5258 2022-12-23  7469.28  7496.40  7462.80  7473.01
 5259 2022-12-28  7473.01  7547.00  7473.01  7497.19
 5260 2022-12-29  7497.19  7516.36  7434.64  7512.72
 5261 2022-12-30  7512.72  7512.92  7451.74  7451.74

 [968 rows x 5 columns],
 'mexico':            date          open          high           low         close
 4315 2019-01-02  41550.750000  42328.550781  41436.488281  42271.140625
 4316 2019-01-03  42172.261719  42292.390625  41699.781250  42044.320313
 4317 2019-01-04  42024.769531  42661.839844  42024.769531  42455.128906
 4318 2019-01-07  42489.050781  42896.109375  42313.058594  42834.199219
 4319 2019-01-08  43264.191406  43582.191406  43024.519531  43542.871094
 ...         ...           ...           ...           ...           ...
 5318 2022-12-26  50530.628906  50712.390625  50211.371094  50273.890625
 5319 2022-12-27  50305.699219  50838.648438  50277.121094  50440.019531
 5320 2022-12-28  50432.781250  50491.089844  49605.378906  49648.210938
 5321 2022-12-29  49708.671875  50209.789063  49461.519531  49517.859375
 5322 2022-12-30  49524.328125  49619.339844  48383.199219  48463.859375

 [1008 rows x 5 columns],
 'japan':            date          open          high           low         close
 4262 2019-01-04  19655.130859  19692.580078  19241.369141  19561.960938
 4263 2019-01-07  19944.609375  20266.220703  19920.800781  20038.970703
 4264 2019-01-08  20224.669922  20347.919922  20106.359375  20204.039063
 4265 2019-01-09  20366.300781  20494.349609  20331.199219  20427.060547
 4266 2019-01-10  20270.880859  20345.919922  20101.929688  20163.800781
 ...         ...           ...           ...           ...           ...
 5229 2022-12-26  26299.539063  26438.650391  26294.849609  26405.869141
 5230 2022-12-27  26570.779297  26620.490234  26447.869141  26447.869141
 5231 2022-12-28  26309.339844  26354.269531  26199.669922  26340.500000
 5232 2022-12-29  26074.900391  26126.699219  25953.919922  26093.669922
 5233 2022-12-30  26288.000000  26321.369141  26067.919922  26094.500000

 [972 rows x 5 columns],
 'vietnam':            date     open     high      low    close
 2493 2019-01-02   854.99   864.64   852.79   855.66
 2494 2019-01-03   855.66   856.21   834.81   838.79
 2495 2019-01-04   838.79   842.05   821.83   840.17
 2496 2019-01-07   840.17   858.69   840.17   851.41
 2497 2019-01-08   851.20   852.92   841.86   845.43
 ...         ...      ...      ...      ...      ...
 3489 2022-12-26  1032.42  1033.17   987.77   987.77
 3490 2022-12-27   988.87  1015.01   985.67  1007.36
 3491 2022-12-28  1009.19  1023.24   997.12  1013.95
 3492 2022-12-29  1013.95  1022.15  1008.30  1008.30
 3493 2022-12-30  1016.71  1017.45  1005.19  1005.19

 [1001 rows x 5 columns],
 'korea':            date         open         high          low        close
 4265 2019-01-02  2050.550049  2053.449951  2004.270020  2010.000000
 4266 2019-01-03  2011.810059  2014.719971  1991.650024  1993.699951
 4267 2019-01-04  1992.400024  2011.560059  1984.530029  2010.250000
 4268 2019-01-07  2034.239990  2048.060059  2030.900024  2037.099976
 4269 2019-01-08  2038.680054  2042.699951  2023.589966  2025.270020
 ...         ...          ...          ...          ...          ...
 5246 2022-12-23  2325.860107  2333.080078  2311.899902  2313.689941
 5247 2022-12-26  2312.540039  2321.919922  2304.199951  2317.139893
 5248 2022-12-27  2327.520020  2335.989990  2321.479980  2332.790039
 5249 2022-12-28  2296.449951  2296.449951  2276.899902  2280.449951
 5250 2022-12-29  2265.729980  2272.669922  2236.379883  2236.399902

 [986 rows x 5 columns],
 'thailand':            date         open         high          low        close
 4223 2019-01-02  1567.089966  1575.219971  1563.660034  1565.939941
 4224 2019-01-03  1571.479980  1578.170044  1556.770020  1560.030029
 4225 2019-01-04  1559.630005  1575.130005  1550.219971  1575.130005
 4226 2019-01-07  1584.739990  1596.969971  1582.689941  1592.719971
 4227 2019-01-08  1594.069946  1597.349976  1587.469971  1594.000000
 ...         ...          ...          ...          ...          ...
 5187 2022-12-26  1620.689941  1629.260010  1619.689941  1626.800049
 5188 2022-12-27  1632.060059  1645.760010  1631.140015  1643.160034
 5189 2022-12-28  1644.000000  1649.420044  1641.540039  1647.280029
 5190 2022-12-29  1644.729980  1662.069946  1642.479980  1661.199951
 5191 2022-12-30  1662.650024  1678.170044  1661.479980  1668.660034

 [969 rows x 5 columns],
 'brazil':            date       open       high        low      close
 2198 2019-01-02  71.629997  74.400002  71.500000  74.199997
 2199 2019-01-03  76.949997  76.949997  73.790001  74.029999
 2200 2019-01-04  75.800003  76.000000  74.370003  75.050003
 2201 2019-01-07  75.050003  75.300003  74.529999  74.699997
 2202 2019-01-08  75.089996  75.089996  74.510002  74.949997
 ...         ...        ...        ...        ...        ...
 3186 2022-12-23  91.309998  92.070000  91.309998  91.889999
 3187 2022-12-26  92.989998  92.989998  90.989998  91.239998
 3188 2022-12-27  91.430000  91.430000  90.150002  90.889999
 3189 2022-12-28  91.410004  92.900002  91.300003  92.419998
 3190 2022-12-29  93.000000  93.000000  91.849998  91.849998

 [993 rows x 5 columns],
 'malaysia':            date     open     high      low    close
 2132 2019-01-02  1693.51  1694.10  1666.07  1668.11
 2133 2019-01-03  1675.16  1680.78  1666.22  1675.83
 2134 2019-01-04  1672.58  1676.55  1668.15  1669.78
 2135 2019-01-07  1674.92  1687.13  1673.03  1679.17
 2136 2019-01-08  1685.72  1686.37  1670.67  1672.76
 ...         ...      ...      ...      ...      ...
 3107 2022-12-23  1469.16  1474.87  1460.57  1474.68
 3108 2022-12-27  1474.39  1477.43  1468.15  1474.69
 3109 2022-12-28  1473.55  1480.11  1461.18  1480.11
 3110 2022-12-29  1476.27  1491.63  1472.54  1491.63
 3111 2022-12-30  1491.93  1503.33  1479.13  1495.49

 [980 rows x 5 columns],
 'switzerland':            date          open          high           low         close
 4319 2019-01-03   8391.900391   8503.070313   8388.969727   8466.009766
 4320 2019-01-04   8493.839844   8627.360352   8441.339844   8608.559570
 4321 2019-01-07   8616.179688   8617.009766   8491.500000   8535.950195
 4322 2019-01-08   8560.330078   8670.669922   8560.160156   8629.480469
 4323 2019-01-09   8661.429688   8700.179688   8625.400391   8687.709961
 ...         ...           ...           ...           ...           ...
 5323 2022-12-23  10804.299805  10843.730469  10761.290039  10804.679688
 5324 2022-12-27  10834.139648  10876.379883  10817.480469  10839.219727
 5325 2022-12-28  10825.660156  10854.900391  10803.099609  10812.669922
 5326 2022-12-29  10744.019531  10869.900391  10737.900391  10857.349609
 5327 2022-12-30  10809.160156  10830.360352  10729.400391  10729.400391

 [1009 rows x 5 columns],
 'china':            date     open     high      low    close
 3405 2019-01-02  3017.07  3018.78  2958.49  2969.54
 3406 2019-01-03  2963.02  3000.44  2953.25  2964.84
 3407 2019-01-04  2940.19  3036.81  2935.83  3035.87
 3408 2019-01-07  3055.15  3061.75  3035.91  3054.30
 3409 2019-01-08  3049.87  3055.51  3038.53  3047.70
 ...         ...      ...      ...      ...      ...
 4372 2022-12-26  3830.57  3856.81  3827.52  3843.49
 4373 2022-12-27  3860.91  3891.85  3856.58  3887.85
 4374 2022-12-28  3874.91  3884.72  3854.94  3871.26
 4375 2022-12-29  3854.24  3868.29  3838.48  3856.70
 4376 2022-12-30  3873.94  3887.55  3868.76  3871.63

 [972 rows x 5 columns],
 'russia':            date         open         high          low        close
 1461 2019-01-03  2370.560059  2387.209961  2350.409912  2375.600098
 1462 2019-01-04  2377.709961  2406.500000  2377.709961  2406.500000
 1463 2019-01-08  2400.959961  2403.659912  2375.010010  2389.689941
 1464 2019-01-09  2393.550049  2414.129883  2393.550049  2414.129883
 1465 2019-01-10  2413.270020  2434.149902  2398.159912  2434.149902
 ...         ...          ...          ...          ...          ...
 2446 2022-12-26  2126.399902  2139.780029  2126.399902  2139.209961
 2447 2022-12-27  2142.080078  2154.350098  2138.110107  2150.919922
 2448 2022-12-28  2150.120117  2152.469971  2136.679932  2139.770020
 2449 2022-12-29  2135.909912  2149.939941  2134.479980  2147.060059
 2450 2022-12-30  2149.830078  2154.469971  2139.790039  2154.120117

 [990 rows x 5 columns],
 'us':            date         open         high          low        close
 4279 2019-01-02  2476.959961  2519.489990  2467.469971  2510.030029
 4280 2019-01-03  2491.919922  2493.139893  2443.959961  2447.889893
 4281 2019-01-04  2474.330078  2538.070068  2474.330078  2531.939941
 4282 2019-01-07  2535.610107  2566.159912  2524.560059  2549.689941
 4283 2019-01-08  2568.110107  2579.820068  2547.560059  2574.409912
 ...         ...          ...          ...          ...          ...
 5282 2022-12-23  3815.110107  3845.800049  3797.010010  3844.820068
 5283 2022-12-27  3843.340088  3846.649902  3813.219971  3829.250000
 5284 2022-12-28  3829.560059  3848.320068  3780.780029  3783.219971
 5285 2022-12-29  3805.449951  3858.189941  3805.449951  3849.280029
 5286 2022-12-30  3829.060059  3839.850098  3800.340088  3839.500000

 [1008 rows x 5 columns]}

##### 02.01.2023 - 30.04.2024: Recovery from COVID-19 pandemic

In [38]:
# Check whether each DataFrame contains data from 02.01.2023 to 30.04.2024
window_5_start_date = '2023-01-02'
window_5_end_date = '2024-04-30'
check_date_range(dataframes, window_5_start_date, window_5_end_date)

{'philippines': True,
 'singapore': True,
 'india': True,
 'uk': True,
 'mexico': True,
 'japan': True,
 'vietnam': True,
 'korea': True,
 'thailand': True,
 'brazil': True,
 'malaysia': True,
 'switzerland': True,
 'china': True,
 'russia': True,
 'us': True}

In [39]:
dfs_window_5 = extract_date_range(dataframes, window_5_start_date, window_5_end_date)

# Check whether each DataFrame contains data from 02.01.2023 to 30.04.2024
dfs_window_5

{'philippines':            date     open     high      low    close
 2729 2023-01-03  6555.40  6624.76  6550.17  6586.01
 2730 2023-01-04  6601.50  6755.27  6601.50  6718.50
 2731 2023-01-05  6738.93  6767.05  6730.52  6761.33
 2732 2023-01-06  6736.65  6736.65  6666.68  6667.97
 2733 2023-01-09  6692.30  6790.24  6685.07  6790.24
 ...         ...      ...      ...      ...      ...
 3050 2024-04-24  6538.98  6593.18  6538.98  6572.75
 3051 2024-04-25  6578.20  6589.89  6574.88  6574.88
 3052 2024-04-26  6557.95  6628.75  6547.76  6628.75
 3053 2024-04-29  6629.57  6769.64  6629.57  6769.64
 3054 2024-04-30  6749.82  6776.54  6700.49  6700.49

 [326 rows x 5 columns],
 'singapore':            date     open     high      low    close
 2851 2023-01-03  3243.99  3252.12  3212.63  3245.80
 2852 2023-01-04  3251.42  3256.37  3238.70  3242.46
 2853 2023-01-05  3264.53  3297.34  3262.38  3292.66
 2854 2023-01-06  3290.32  3290.32  3271.08  3276.72
 2855 2023-01-09  3311.67  3343.47  3291.04  3305.67
 ...         ...      ...      ...      ...      ...
 3176 2024-04-24  3295.29  3308.12  3282.60  3293.13
 3177 2024-04-25  3269.74  3290.01  3249.01  3287.75
 3178 2024-04-26  3283.41  3297.78  3271.58  3280.10
 3179 2024-04-29  3277.64  3282.05  3264.11  3282.05
 3180 2024-04-30  3283.08  3298.03  3269.64  3292.69

 [330 rows x 5 columns],
 'india':            date          open          high           low         close
 3776 2023-01-02  24643.050781  24740.759766  24580.080078  24722.039063
 3777 2023-01-03  24708.000000  24801.939453  24685.390625  24775.919922
 3778 2023-01-04  24777.419922  24797.019531  24486.990234  24511.439453
 3779 2023-01-05  24585.250000  24617.269531  24342.220703  24496.750000
 3780 2023-01-06  24503.820313  24547.730469  24239.210938  24317.560547
 ...         ...           ...           ...           ...           ...
 4096 2024-04-24  32710.640625  32785.968750  32679.140625  32716.269531
 4097 2024-04-25  32671.609375  32970.570313  32644.949219  32929.339844
 4098 2024-04-26  33023.058594  33047.851563  32849.238281  32877.250000
 4099 2024-04-29  33034.960938  33156.761719  32912.050781  33139.160156
 4100 2024-04-30  33245.621094  33381.679688  33104.011719  33142.570313

 [325 rows x 5 columns],
 'uk':            date     open     high      low    close
 5262 2023-01-03  7451.74  7626.40  7448.69  7554.09
 5263 2023-01-04  7554.09  7609.25  7545.18  7585.19
 5264 2023-01-05  7585.19  7658.79  7564.70  7633.45
 5265 2023-01-06  7633.45  7700.81  7633.45  7699.49
 5266 2023-01-09  7699.49  7725.74  7688.69  7724.94
 ...         ...      ...      ...      ...      ...
 5592 2024-04-24  8044.81  8092.20  8031.79  8040.38
 5593 2024-04-25  8040.38  8105.59  8030.05  8078.86
 5594 2024-04-26  8078.86  8146.79  8078.86  8139.83
 5595 2024-04-29  8139.83  8189.14  8136.71  8147.03
 5596 2024-04-30  8147.03  8199.95  8138.14  8144.13

 [335 rows x 5 columns],
 'mexico':            date          open          high           low         close
 5323 2023-01-02  48506.039063  49136.941406  48478.941406  48993.238281
 5324 2023-01-03  48970.550781  49180.191406  48881.988281  49050.460938
 5325 2023-01-04  49013.308594  50388.609375  48966.121094  50161.269531
 5326 2023-01-05  50150.769531  50971.660156  50077.718750  50805.210938
 5327 2023-01-06  50800.839844  52004.828125  50618.308594  51730.500000
 ...         ...           ...           ...           ...           ...
 5651 2024-04-24  56622.160156  56827.019531  56188.890625  56463.988281
 5652 2024-04-25  56619.089844  57282.328125  56207.449219  57071.781250
 5653 2024-04-26  57072.960938  58002.171875  56870.171875  57833.851563
 5654 2024-04-29  57890.488281  58110.371094  57512.601563  57827.859375
 5655 2024-04-30  57835.500000  57835.500000  56670.531250  56727.980469

 [333 rows x 5 columns],
 'japan':            date          open          high           low         close
 5234 2023-01-04  25834.929688  25840.679688  25661.890625  25716.859375
 5235 2023-01-05  25825.500000  25947.099609  25750.460938  25820.800781
 5236 2023-01-06  25740.080078  26034.060547  25719.609375  25973.849609
 5237 2023-01-10  26176.609375  26316.660156  26132.800781  26175.560547
 5238 2023-01-11  26362.210938  26479.990234  26332.050781  26446.000000
 ...         ...           ...           ...           ...           ...
 5554 2024-04-23  37797.058594  37817.781250  37397.269531  37552.160156
 5555 2024-04-24  37871.921875  38460.078125  37857.468750  38460.078125
 5556 2024-04-25  38065.910156  38129.531250  37604.230469  37628.480469
 5557 2024-04-26  37725.609375  38097.539063  37550.699219  37934.761719
 5558 2024-04-30  38312.660156  38608.171875  38182.109375  38405.660156

 [325 rows x 5 columns],
 'vietnam':            date     open     high      low    close
 3494 2023-01-03  1010.52  1047.25  1010.03  1047.25
 3495 2023-01-04  1051.66  1059.01  1046.61  1050.15
 3496 2023-01-05  1052.32  1065.99  1051.60  1061.90
 3497 2023-01-06  1060.14  1075.33  1053.29  1057.40
 3498 2023-01-09  1065.24  1068.77  1056.64  1061.14
 ...         ...      ...      ...      ...      ...
 3816 2024-04-22  1204.41  1214.24  1200.15  1206.64
 3817 2024-04-23  1207.76  1213.96  1191.61  1200.37
 3818 2024-04-24  1210.05  1234.87  1207.92  1232.17
 3819 2024-04-25  1235.25  1236.99  1226.76  1233.72
 3820 2024-04-26  1227.69  1245.52  1225.55  1240.50

 [327 rows x 5 columns],
 'korea':            date         open         high          low        close
 5251 2023-01-02  2249.949951  2259.879883  2222.370117  2225.669922
 5252 2023-01-03  2230.979980  2230.979980  2180.669922  2218.679932
 5253 2023-01-04  2205.979980  2260.060059  2198.820068  2255.979980
 5254 2023-01-05  2268.199951  2281.389893  2252.969971  2264.649902
 5255 2023-01-06  2253.399902  2300.620117  2253.270020  2289.969971
 ...         ...          ...          ...          ...          ...
 5573 2024-04-24  2662.840088  2677.850098  2662.840088  2675.750000
 5574 2024-04-25  2646.800049  2656.510010  2628.620117  2628.620117
 5575 2024-04-26  2650.939941  2662.100098  2641.350098  2656.330078
 5576 2024-04-29  2675.459961  2687.439941  2665.209961  2687.439941
 5577 2024-04-30  2693.219971  2710.229980  2687.290039  2692.060059

 [327 rows x 5 columns],
 'thailand':            date         open         high          low        close
 5192 2023-01-03  1675.699951  1683.380005  1673.290039  1678.969971
 5193 2023-01-04  1680.069946  1685.109985  1668.069946  1673.250000
 5194 2023-01-05  1674.810059  1676.819946  1659.900024  1663.859985
 5195 2023-01-06  1667.140015  1677.790039  1665.489990  1673.859985
 5196 2023-01-09  1685.300049  1693.420044  1684.900024  1691.119995
 ...         ...          ...          ...          ...          ...
 5510 2024-04-24  1364.719971  1364.910034  1355.439941  1361.099976
 5511 2024-04-25  1358.699951  1365.780029  1356.959961  1364.270020
 5512 2024-04-26  1364.949951  1366.239990  1358.260010  1359.939941
 5513 2024-04-29  1364.520020  1364.699951  1355.359985  1361.969971
 5514 2024-04-30  1364.689941  1372.849976  1363.209961  1367.949951

 [323 rows x 5 columns],
 'brazil':            date        open        high         low       close
 3191 2023-01-02   90.889999   90.889999   88.800003   89.000000
 3192 2023-01-03   88.000000   89.000000   87.300003   87.300003
 3193 2023-01-04   86.900002   89.000000   86.900002   88.300003
 3194 2023-01-05   88.680000   90.220001   88.680000   90.150002
 3195 2023-01-06   91.589996   91.849998   91.000000   91.000000
 ...         ...         ...         ...         ...         ...
 3517 2024-04-24  104.550003  104.550003  104.160004  104.510002
 3518 2024-04-25  103.599998  104.279999  103.599998  104.139999
 3519 2024-04-26  104.900002  106.050003  104.900002  105.830002
 3520 2024-04-29  105.830002  106.430000  105.830002  106.370003
 3521 2024-04-30  106.110001  106.139999  105.389999  105.430000

 [331 rows x 5 columns],
 'malaysia':            date     open     high      low    close
 3112 2023-01-03  1488.54  1488.54  1473.80  1473.99
 3113 2023-01-04  1472.85  1476.14  1470.59  1473.67
 3114 2023-01-05  1472.46  1481.01  1471.91  1480.93
 3115 2023-01-06  1479.53  1482.39  1474.48  1480.55
 3116 2023-01-09  1484.56  1493.42  1483.93  1493.42
 ...         ...      ...      ...      ...      ...
 3431 2024-04-24  1565.49  1572.48  1564.89  1571.48
 3432 2024-04-25  1573.29  1574.45  1569.03  1569.25
 3433 2024-04-26  1567.67  1575.57  1566.34  1575.16
 3434 2024-04-29  1576.30  1583.34  1575.00  1582.66
 3435 2024-04-30  1583.58  1589.06  1575.97  1575.97

 [324 rows x 5 columns],
 'switzerland':            date          open          high           low         close
 5328 2023-01-03  10853.910156  11004.459961  10822.759766  10978.639648
 5329 2023-01-04  11020.740234  11140.269531  11015.910156  11140.269531
 5330 2023-01-05  11093.610352  11112.500000  11048.089844  11057.389648
 5331 2023-01-06  11068.620117  11147.870117  11048.139648  11144.540039
 5332 2023-01-09  11171.419922  11234.129883  11152.040039  11212.570313
 ...         ...           ...           ...           ...           ...
 5657 2024-04-24  11450.400391  11459.469727  11370.740234  11370.740234
 5658 2024-04-25  11342.830078  11345.290039  11194.820313  11260.610352
 5659 2024-04-26  11344.519531  11360.419922  11294.669922  11344.320313
 5660 2024-04-29  11370.509766  11392.820313  11332.360352  11332.360352
 5661 2024-04-30  11329.349609  11338.839844  11260.910156  11260.910156

 [334 rows x 5 columns],
 'china':            date     open     high      low    close
 4377 2023-01-03  3864.84  3893.99  3831.25  3887.90
 4378 2023-01-04  3886.25  3905.90  3873.65  3892.95
 4379 2023-01-05  3913.49  3974.88  3912.26  3968.58
 4380 2023-01-06  3969.55  4000.41  3966.47  3980.89
 4381 2023-01-09  3998.53  4023.09  3990.71  4013.12
 ...         ...      ...      ...      ...      ...
 4692 2024-04-24  3514.01  3524.54  3495.65  3521.62
 4693 2024-04-25  3510.64  3543.97  3505.20  3530.28
 4694 2024-04-26  3531.96  3588.40  3531.96  3584.27
 4695 2024-04-29  3584.54  3645.82  3578.76  3623.91
 4696 2024-04-30  3619.26  3630.71  3604.39  3604.39

 [320 rows x 5 columns],
 'russia':            date         open         high          low        close
 2451 2023-01-03  2157.179932  2174.229980  2157.179932  2172.679932
 2452 2023-01-04  2171.540039  2179.560059  2162.060059  2168.419922
 2453 2023-01-05  2170.399902  2171.939941  2154.159912  2156.669922
 2454 2023-01-06  2157.320068  2160.080078  2153.320068  2156.389893
 2455 2023-01-09  2163.429932  2169.709961  2162.010010  2163.500000
 ...         ...          ...          ...          ...          ...
 2783 2024-04-24  3438.449951  3445.669922  3423.169922  3428.929932
 2784 2024-04-25  3429.620117  3443.739990  3427.020020  3439.760010
 2785 2024-04-26  3446.389893  3459.120117  3438.060059  3449.770020
 2786 2024-04-29  3468.919922  3480.469971  3467.250000  3478.080078
 2787 2024-04-30  3481.290039  3486.300049  3464.860107  3469.830078

 [337 rows x 5 columns],
 'us':            date         open         high          low        close
 5287 2023-01-03  3853.290039  3878.459961  3794.330078  3824.139893
 5288 2023-01-04  3840.360107  3873.159912  3815.770020  3852.969971
 5289 2023-01-05  3839.739990  3839.739990  3802.419922  3808.100098
 5290 2023-01-06  3823.370117  3906.189941  3809.560059  3895.080078
 5291 2023-01-09  3910.820068  3950.570068  3890.419922  3892.090088
 ...         ...          ...          ...          ...          ...
 5615 2024-04-24  5084.859863  5089.479980  5047.020020  5071.629883
 5616 2024-04-25  5019.879883  5057.750000  4990.580078  5048.419922
 5617 2024-04-26  5084.649902  5114.620117  5073.140137  5099.959961
 5618 2024-04-29  5114.129883  5123.490234  5088.649902  5116.169922
 5619 2024-04-30  5103.779785  5110.830078  5035.310059  5035.689941

 [333 rows x 5 columns]}